@layout('layouts.app')
@section('header')
<div class="jumbotron">
  <div class="container text-center">
    <h1>404 PAGE NOT FOUND</h1>      
  </div>
</div>
@endsection
@section('content')
<div class="col-sm-9 text-left">
  <h3><a href="/">Return back home</h3></p>
</div>
@endsection